
       <h1> 이 카드에 생각한 숫자가 있습니</h1>


      <%= image_tag("card_1.jpg", :alt => "card_1") %>
      
        <form action= "/magic/card_2" method="get">
             <input type="radio" name="num1" value="1" required/>  
             <%= image_tag("yes.jpg", :alt => "yes") %>
                                                                                 <!---  required 반드시 입력 요구 -->  
             <input type="radio" name="num1" value="0"/>
             <%= image_tag("no.jpg", :alt => "no") %>
              <input href="/magic/card_2" type="submit" value="Submit">
        </form>
      
      
