   <h1> 이 카드에 생각한 숫자가 있습니까?</h1>


 <%= image_tag("card_6.jpg", :alt => "card_6") %>



    <form action= "/magic/result" method="get">
        <input type="radio" name="num6" value=1 required/>  
        <%= image_tag("yes.jpg", :alt => "yes") %>
                                                                                 <!---  required 반드시 입력 요구 -->  
        <input type="radio" name="num6" value=0/>
        <%= image_tag("no.jpg", :alt => "no") %>
        <!--<input type="image" src="/app/assets/images/next.jpg" alt="Submit" width="254" height="170">-->
        <input href="/magic/result" type="submit" value="Submit">
        
        
       
       
    </form>
  