
   <h1> 이 카드에 생각한 숫자가 있습니까?</h1>

    <%= image_tag("card_3.jpg", :alt => "card_3") %>


    <form action= "/magic/card_4" method="get">
        <input type="radio" name="num3" value="1" required/>  
        <%= image_tag("yes.jpg", :alt => "yes") %>
                                                                                 <!---  required 반드시 입력 요구 -->  
        <input type="radio" name="num3" value="0"/>
        <%= image_tag("no.jpg", :alt => "no") %>
        <input href="/magic/card_4" type="submit" value="Submit">
    </form>
        

  <a href="/magic/card_4">  <%= image_tag("next.jpg", :alt => "next") %> </a>