<h1>룰 설명!</h1>

<p>숫자 범위는 1~63까지 있습니다. 마음속으로 가장 좋아하는 숫자 하나를 생각해주세요!!!</p>

<p>그리고 카드 한 장씩 보여줄테니 그 카드에 생각한 숫자가 있는지 없는지만 확인하고  </p>

<h1> 있다. 없다.를 클릭하시면 됩니다.  </h1>


 
  <a href="/magic/card_1" >  <%= image_tag("next.jpg", :alt => "next") %> </a>